{% extends "base.html" %}

{% block content %}
<div class="row justify-content-center">
    <div class="col-md-6">
        <div class="card shadow-sm mt-5">
            <div class="card-body">
                <h2 class="card-title text-center mb-4">Elegir Nueva Contraseña</h2>
                <p class="text-center text-muted">Hola {{ user.username }}, escribe aquí tu nueva contraseña.</p>
                <form action="" method="post">
                    <div class="mb-3">
                        <label for="password" class="form-label">Nueva Contraseña</label>
                        <input type="password" class="form-control" id="password" name="password" required>
                    </div>
                    <button type="submit" class="btn btn-primary w-100">Guardar Contraseña</button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}
